.wrapper {
    margin: 1rem 3rem 2rem;
    padding: 1rem;
    border-radius: 20px;
    background-color: rgb(238, 243, 247);
    color: hsl(209, 46%, 19%);
    border: rgb(238, 243, 247);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
}

form {
    display: grid;
    gap: 1rem;

    @media (min-width: 720px) {
        grid-template-columns: 1fr 1fr;
    }
}

input {
    border: 1.5px solid;
    border-color: rgb(224, 222, 222);
    color: rgb(141, 139, 139);
    border-radius: 8px;
    background-color: rgb(238, 243, 247);
    padding: 1ex 16px;
    width: 100%;
}

input:focus {
    outline: none;
    background-color: rgb(196, 223, 249);
}

.formgroup label {
    display: grid;
}

button {
    grid-column: 1 / -1;
    justify-self: end;
}